div.editor {
    min-height: 500px;
    height: auto;
}

.splits {
    border-right: 1px solid grey;
    width: 1400px;
}

form.rjsf > div > fieldset {
    width: 100% !important;
}

.form-control {
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #767575 !important;
}

.subDocumentCard {
    background-color: aqua !important;
}